/* HEADER  */
.nav_item{
  padding: 10px;
  padding-top: 50px;
}
.nav_item:hover{
  font-weight: bold;
}

body{
  padding: 80px;
  padding-top: 10px;
  color: #7D8589;
  color: #525252;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 0px;
  margin: 0px;
}
img{
  flex:1 0 auto
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
a.icon{
  height: 25px;
  width: inherit;
}
.header_icon{
  height: 25px;
  width: inherit;
  padding: 5px;
}

h1{
  padding-bottom: 5px;
  font-weight:100;
  font-size: 40px;
  margin-top:0px;
  margin-bottom: 9px;
}

.Content{
  background-color: red;
  padding-bottom: 20px;
}

.Content p {
 text-align: left;
 padding-left: 20px;
}

.card-title{
  text-align: center;
}

#side_text{
  margin: 0px;
  font-size: 15px;
}

.content-title{
  text-align:left;
  padding-left: 20px;
}

.card-content{
  display: flex;
  align-items:center;

}


@media screen and (max-width: 1400px) {
  .page{
    padding-left: 50px;
    padding-right: 50px;
  }

}
