@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
  --blue: #83A7D6;
  --white: #F9F8F8;
  --black: #616161;
}

html {
  scroll-behavior: smooth;
}
a{
  text-decoration-color: var(--blue);
  color: var(--blue);
}

.App {
  text-align: center;
}

#header{
  display: block;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  color:var(--black);
  font-size: 17px;
}

#topbar{
  display: inline-flex;
  top:0px;
  animation: topbardrop ease 1.5s;
  transition: top 0.3s;
  z-index: 1;
  height: 60px;
  position: fixed;
  background-color: var(--white);
  width: 100%;
}

#navbar{
  display: flex;
  visibility: visible;
  flex-direction: row;
  justify-content: flex-end;
  margin-top:20px;
  margin-right: 20px;
  width:100%
}

#icon{
  margin:20px;
}


@keyframes topbardrop{
  0% {
    top:-60px;
  }
  50%{
    top:-60px;
  }
  100% {
    top:0px;
  }
}


.detail_btn{
  color: var(--black);
  padding: 5px 10px 25px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  transition-duration: 0.4s;
  float:right;
  font-size: 14px;
  font-weight:600;
  padding-bottom: 0px;
  height:25px;
}

.detail_btn:hover {
  color: var(--blue);
}
.small-button{
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  padding: 5px;
  padding-bottom: 2px;
}

.large-button{
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  font-size: 20px;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
  text-align: center;
  width:30%;

}
.small-button:hover, .large-button:hover{
  background-color: #DEE8F5;
}


#home{
  display: block;
  padding:10%;
  padding-left: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  line-height: 90%;
  color: var(--blue);
  opacity: 0.5;
}
#heading_bold{
  opacity: 1;
}


.heading{
  color:var(--black);
  transition: all 0.8s ease;
  opacity: 0;
}
.heading.active{
  opacity: 1;
}

#Footer{
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color:gray;
}

#icon{
  justify-content: left;
  height:40px;
}
