#About{
 /* color: #F9F8F8; */
 text-align: left;

}
#About .card{
  margin-top: 30px;
  border-style: solid;
  border: none;
  border-left: solid;
  border-color: var(--blue);
}

#Project-List{
  display: flex;
  justify-content: space-between;
}

.content{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 20%;
}

.heading h2{
  display:inline-block;
  margin: 20px;
  margin-left:0px;
  font-weight: 700;
  color:black;
  font-size: 30px;
  font-style: italic;

}
.heading h4{
  display:inline-block;
  margin: 20px;
  font-weight: 300;
  color:black;
  font-style: italic;
}
h3{
  font-weight: 700;
  color: black;
  margin-left: 30%;
}

.card{
  border-style: solid;
  border: none;
  border-left: solid;
  border-color: var(--blue);

  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 50px;
  opacity: 0;
  transition: all 0.8s ease;
  color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card.active{
  opacity: 1;
}

.card-title{
  font-size: 19px;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 30px;

}
.demo-link{
  opacity: 0.7;
}
.demo-link:hover{
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
