#grid{
  display: flex;
  justify-content: space-between;
}

.grid-card{
  flex:1;
  margin:5%;
}
.grid-card .card-body{
  padding-left: 0;
}
.grid-card .card-title{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
}
.grid-card .card-body{
  font-size: 14px;
}
